<div class="mt-5">
  <form method="post" action="">
    <div class="mb-3">
      <label for="search-result" class="form-label">Key words</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        aria-describedby="Nhập từ khoá"
        placeholder="Nhập từ khoá"
        name="q"
      />
    </div>
    <div class="mb-3">
      <label for="select-result" class="form-label">Key words</label>
      <select
        class="form-control"
        id="select-input"
        aria-describedby="Nhập từ khoá"
        name="select-options"
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>